.camera {
	margin: 10px 0;
	position: relative;
}
	.photo-holder {
		display: flex;
		justify-content: space-around;
     	margin-bottom: 2%;
	}

.camera-featurs {
	width: 40%;
	margin: 0 auto 10px;
	display: flex;
	justify-content: space-around;
}

.video-holder {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

	#video {
		background-color: #000;
	}

#snap, label.capture-btn, #sendPic {
	background-color: #f2f2f2;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	cursor: pointer;
	font-weight: bold;
	display: inline-block;
	text-transform: uppercase;
	padding: 5px;
	line-height: 30px;
	transition: all 0.1s ease-in-out;
	font-family: "Montserrat", sans-serif;
}

	#snap:hover, label.capture-btn:hover, #sendPic:hover {
		background-color: #9e8fc6;
		color: #fff;
	}

.camera-featurs--upload {
	display: inline-block;
	position: relative;
}

#canvas {
	width: 540px;
	height: 400px;
	margin: 0 auto;
	display: block;
	background-image: url(../../templates/img/bgr.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: rgba(0,0,0,0.3);
}

input[type="file"] {
	position: absolute;
	top: 0;
	z-index:-1;
	font-size: 0;
}

	input[type="file"]:focus {
		outline: none;
	}

#preCanvas {
	position: absolute;
    top: 0;
    left: 0;
}

aside.left {
	display: inline-block;
	width: 50%;
	background: #e2ddee;
}

	.layers {
		position: relative;
	    display: flex;
	    justify-content: space-around;
	    flex-wrap: wrap;
	}

		.layers input{
		    position: absolute !important;
		    clip: rect(0, 0, 0, 0);
		    height: 1px;
		    width: 1px;
		    border: 0;
		    overflow: hidden;
		}

		.layers label {
			display: inline-block;
			width: 20%;
		}

		.layers label:hover {
			cursor: pointer;
		}

		.layers input:checked + label{
			background: #90b8bb;
		}

@media only screen and (max-width: 1080px) {
	.camera {
		margin: 0;
	}

		aside.left {
			height: 400px;
		}
}

@media only screen and (max-width: 947px) {
	.camera {
		margin: 0;
	}

		aside.left {
			height: 400px;
		}

		.camera-featurs {
			width: 100%;
		}
}

@media only screen and (max-width: 770px) {
	.layers {
		flex-direction: column;
		height: 400px;
	}
}

/*JUST FOR IPADS*/

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	.layers label {
	    display: inline-block;
	    width: 36%;
	}
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
	.layers label {
	    width: 25%;
	}
}

/*END IPADS*/

@media only screen and (max-width: 737px) {
	.layers {
		display: block;
		width: 100%;
		overflow-y: scroll;
	}
		.layers label {
			display: block;
			width: 100%;
		}
}

@media only screen and (max-width: 590px) {
	.photo-holder {
		display: block;
	}
	aside.left {
		height: 120px;
		display: block;
		width: 100%;
	}
	.layers {
		display: flex;
		width: 100%;
		height: 120px;
		overflow-x: scroll;
		overflow-y: hidden;
	}
		.layers label {
			display: block;
			width: 15%;
		}

	.video-holder {
		display: block;
	}
		#video {
			margin: 0 auto;
    		display: block;
		}
		#preCanvas {
			left: 82px;
		}
}

@media only screen and (max-width: 539px) {
	.layers label {
		width: 20%;
	}
	#video {
		background-color: #fff;
	}
	#preCanvas {
		width: 400px;
    	height: 400px;
    	left: 70px;
	}

}
@media only screen and (max-width: 375px) {
	#snap, label.capture-btn, #sendPic {
		line-height: 12px;
    	font-size: 12px;
	}
}
@media only screen and (max-width: 320px) {
	.layers label {
		width: 22%;
	}
}