.image-cropper {
	width: 150px;
	height: 150px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 50%;
}
	.profile-pic {
		display: inline;
		margin: 0 auto;
		height: 100%;
		width: auto;
	}

	.card>img {
		object-fit: cover;
		width: 100%;
		height: 175px;
		display: block;
		object-position: 0% 10%;
	}

	.my-photos.card > img {
		height: 360px;
	}

.glyphicon-ok-sign:before {
	margin-right: 5px;
}

.bgr-col-wite {
	background-color: #fff;
	padding: 5px;
}
.file {
  visibility: hidden;
  position: absolute;
}

.marginTop {
	margin-top: 5px;
	margin-bottom: 15px;
}

.tag {
	display: inline-block;
	margin: 0 5px 5px 0;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #888;
	position: relative;
	border-radius: 3px;
}

	.tagTxt {

	}

	.tagDel {
		visibility: hidden;
		text-align: center;
		vertical-align: middle;
		line-height: 20px;
		width: 20px;
		height: 20px;
		position: absolute;
		top: -4px;
    	right: -5px;
		background-color: red;
		border-radius: 50%;
	}

	.tag:hover > .tagDel {
		visibility: visible;
		color: #fff;
		cursor: pointer;
	}

.my-height {
	max-height: 620px;
}

.my-card-body {
	padding: 1.25rem;
	background-color: #fff;
}

	.my-card-width {
		width: 100%;
	}

		.my-card-btn-width {
			width: 33.3%;
		}
	.card-relatieve {
		position: relative;
	}
		.onLineIndecator{
			position: absolute;
			top: 5px;
			right: 5px;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: red;
		}