body {
    margin: 2px;
    /*padding: 3vh 0;*/
    font-family: 'Roboto', sans-serif; }

#wrapper1 {
    width: 650px;
    height: 300px;
    max-height: 80%;
    padding: 15px;
    border-radius: 7px;
    margin: auto;
    background-image: -moz-linear-gradient(135deg, #fafaff 0%, #f7f7fc 100%);
    background-image: -webkit-linear-gradient(135deg, #fafaff 0%, #f7f7fc 100%);
    background-image: -ms-linear-gradient(135deg, #fafaff 0%, #f7f7fc 100%);
    box-shadow: 0px 12px 30px 0px rgba(1, 50, 101, 0.07);
}

.sliders {
    width: 100%;
    height: 200px;
    border-radius: 7px;
    position: relative; }

.btn-search{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.btn-search button{
    width: 100%;
    display: inline-block;

}
.tags{
    width: 100%;
}
.Cards {
    width: 650px;
    height: 90px;
    max-height: 80%;
    padding: 15px;
    margin: auto;
}
@media only screen and (max-width:480px){
    #wrapper1 {
        width: 95%;
        height: 250px;
        /*padding: 5px;*/
        /*border-radius: 7px;*/
        margin: auto;
    }

    .Cards {
        width: 100%;
        height: 90px;
        max-height: 80%;
        padding: 5px;
        margin: auto;
    }
    .sliders {
        width: 100%;
        height: 160px;}
    .tags{
        width: 100%;
        display: none;

    }
    .btn-search button{
        width: 100%;
        position: relative;
bottom: 0;
    }
}