body {
    margin: 2px;
    /*padding: 3vh 0;*/
    font-family: 'Roboto', sans-serif; }

.CardHolder {
    max-height: 80%;
    padding: 10px;
    margin: auto;
    background-color: aliceblue;
position: relative;
}

.CardHolder img{
    width: 90%;
}
.CardLink{
    right: 5px;
}