.morePeople {
    width: 100%;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-top: none;
}

body {
    margin: 0;
    /*padding: 3vh 0;*/
    font-family: 'Roboto', sans-serif; }

/*.chatComponent>img {
    max-width: 100%; }*/

.chatComponent ul {
    padding-left: 0; }

.chatComponent li {
    list-style-type: none; }

.chatComponent a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
.chatComponent a:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

#wrapper {
    max-width: 1200px;
    margin: auto;
    background-image: -moz-linear-gradient(135deg, #fafaff 0%, #f7f7fc 100%);
    background-image: -webkit-linear-gradient(135deg, #fafaff 0%, #f7f7fc 100%);
    background-image: -ms-linear-gradient(135deg, #fafaff 0%, #f7f7fc 100%);
    box-shadow: 0px 12px 30px 0px rgba(1, 50, 101, 0.07);
}

.messages {
    width: 30%;
    height: 100%;
    display: inline-block;
    position: relative;
}

.messages .messages__item {
    background: #fff;
    padding: 20px 15px;
    display: block;
    height: 100%;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: unset;
}

.messages .messages__item.messages__item-actieve {
    background: #f0f2f4;
}

.messages .messages__item:hover, .messages .messages__item.active {
    text-decoration: none;
    background: #f0f2f4; 
}

    .name-img {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-right: 15px;
        vertical-align: middle;
    }

        img.name-img__src {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }

.messages .messages__item .name, .messages__item .name {
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
}

.messages .messages__item.unread:after {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    right: -12px;
    top: 50px;
    border-radius: 50%;
    background-image: -moz-linear-gradient(90deg, #117ee7 0%, #108ef2 100%);
    background-image: -webkit-linear-gradient(90deg, #117ee7 0%, #108ef2 100%);
    background-image: -ms-linear-gradient(90deg, #117ee7 0%, #108ef2 100%);
    box-shadow: 5px 5px 30px 0px rgba(1, 50, 101, 0.21); }

.message-content {
    background-image: url('./chatBgr.jpg');
    background-size: auto;
    background-repeat: repeat;
    width: 70%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    border-left: 1px solid #eee;
}

.message-content .message-content__item .message-content-header {
    border-bottom: 1px solid #e0e2e4;
    padding: 20px 15px;
    position: relative;
    height: 95px; }
.message-content .message-content__item .message-content-header .name {
    font-size: 21px;
    color: #535357;
    font-weight: 500; }
.message-content .message-content__item .message-content-header .status {
    font-size: 16px;
    color: #a3a3a7; }
.message-content .message-content__item .message-content-header img {
    position: absolute;
    top: 30px;
    right: 15px; }
.message-content .message-box {
    padding: 0px 25px 39px 25px;
    min-height: 50vh;
}
.message-content .message-box .message-box__item {
    margin-bottom: 15px; }
.message-content .message-box .message-box__item.incoming {
    text-align: left; }
.message-content .message-box .message-box__item.incoming .time {
    right: 0; }
.message-content .message-box .message-box__item.outgoing {
    text-align: right; }
.message-content .message-box .message-box__item.outgoing .time {
    left: 0; }
.message-content .message-box .message-box__item .name {
    color: #535357;
    font-size: 16px;
    font-weight: 400; 
}

.message-content .message-box .message-box__item .box-text {
    background: #f0f2f4;
    display: inline-block;
    padding: 15px;
    padding-right: 50px;
    font-size: 16px;
    color: #535357;
    border-radius: 7px;
    max-width: 90%;
    margin-top: 10px;
    text-align: left;
    position: relative;
    margin-bottom: 20px; 
}
.message-content .message-box .message-box__item .box-text .time {
    position: absolute;
    bottom: -25px;
    font-size: 13px;
    color: #939397; }

.message-content .message-form {
    padding: 20px 15px;
    background-color: #fff;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.15);
    height: 75px;
    position: sticky;
    bottom: 0;
}

.message-content .message-form textarea {
    width: 80%;
    border: none;
    font-size: 16px;
    margin: 5px 2% 0px 0px; 
    overflow:hidden;
    resize:none;
}

.message-content .message-form textarea:focus {
    outline: none;
}

.message-content .message-form img {
    float: right;
    margin-top: 10px; }
.message-content .message-form button {
    vertical-align: top;
    width: 15%;
    background-color: #117ee7;
}
@media only screen and (max-width:480px){
    #wrapper {
        width: 480px;
        height: 768px;
    }
    .messages {
        width: 25%;
        margin-left: 0;
        display: inline-block;
    }
    .sidebar{
        display: none;
    }
    .messages .messages__item .content {
      display: none;
    }
    .message-content .message-box {
        padding: 25px;
        height: calc(100% - 75px);
    display: inline-block;}
}