@font-face {
		font-family: 'Ballpark';
		src: url('./Ballpark.ttf') format('truetype');
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'FontAwesome' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-match:before {
	content: "\f05b";
}

.icon-msg:before {
	content: "\f0e0";
}

.icon-like:before {
	content: "\f004";
}