.footer_bottom {
    text-align: center;
}

.footerBackground {
    background-color: #fff4f0 !important;
    font-family: 'lato', sans-serif;
    line-height: 40px;
}

.footerTextColor {
    color: darkslategray;
}
